<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmxy.dao.MoneyMapper">
  <resultMap id="BaseResultMap" type="com.kmxy.entity.Money">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <association property="user" javaType="User">
      <id column="uid" jdbcType="INTEGER" property="uid" />
      <result column="username" jdbcType="VARCHAR" property="username" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, amount, create_time, update_time, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kmxy.entity.Money">
    insert into tb_money (id, user_id, amount,
      create_time, update_time, info
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kmxy.entity.Money">
    insert into tb_money
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kmxy.entity.Money">
    update tb_money
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kmxy.entity.Money">
    update tb_money
    set user_id = #{userId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectionByCondition" resultMap="BaseResultMap" parameterType="money">
      select
        tb_money.id, tb_money.user_id, tb_money.amount, tb_money.create_time, tb_money.update_time,
        tb_money.info,tb_user.username
      from
      tb_money left join tb_user on tb_money.user_id = tb_user.uid
      <where>
        <if test="userId != null">
          and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="amount != null">
          and amount = #{amount,jdbcType=DOUBLE}
        </if>
        <if test="createTime != null">
          and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
          and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="info != null">
          and info like CONCAT(CONCAT('%',#{info,jdbcType=VARCHAR}),'%')
        </if>
      </where>
      limit #{pageNum} , #{pageSize}
    </select>
  <select id="selectCountByCondition" resultType="int" parameterType="map">
      select count(*)
    from
      tb_money
    <where>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        and amount = #{amount,jdbcType=DOUBLE}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="info != null">
        and info like CONCAT(CONCAT('%',#{info,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>
</mapper>